---
layout: default
---
<!-- <div id="tag-cloud" style="text-align:justify;">
  {{ site | tag_cloud }}
</div> -->
    <div class ="maincol tagbox orangebox">
	<h1 class="content-subhead">All Tags</h1>
	<ul>
{% for tag in site.tags %}
	    <li style="font-size: {{ tag | last | size | times: 1000 | divided_by: site.tags.size | plus: 40 }}%">
		<a href="{{site.baseurl}}/tag/{{ tag | first | slugize }}/">
		    {{ tag | first }}
		</a>
	    </li>
{% endfor %}
	</ul>
    </div>

<!-- Include the side column --->
{% include sidecol.html %}
