---
layout: default
---

<!-- Pages with side column need a 'maincol' class -->
<div class="post maincol">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="post-footer">
      <a class="post-blog" href="{{ post.author | prepend: site.baseurl }}">{{ page.author }}'s Blog</a>
  </div>
  <br />

</div>

<!-- Include the side column --->
{% include sidecol.html %}

<!-- COMMENTS -->
<div id="comments" class="comments clearfix">
  <div class="comments-loading">
  <p><em>Enable Javascript to view comments</em></p>
  </div>
</div>

<script type="text/javascript" class="juvia">
(function() {
    var loadingSection = document.body.querySelector('.comments-loading');
    var icon = '<p>Comments Loading...</p><img alt="loading comments" src="/assets/images/comments-loading.gif">';

    loadingSection.innerHTML = loadingSection.innerHTML + icon;

    var options = {
        container    : '.comments',
        site_key     : 'im3x57usjcg72fkm6lyqzwzt7vaoi4g',
        topic_key    : '/{{ page.permalink }}',
        topic_url    : location.href,
        topic_title  : document.title || location.href,
        include_base : !window.Juvia,
        include_css  : !window.Juvia,
        comment_order: 'latest-first'
    };

    function makeQueryString(options) {
        var key, params = [];
        for (key in options) {
            params.push(
                encodeURIComponent(key) +
                '=' +
                encodeURIComponent(options[key]));
        }
        return params.join('&');
    }

    function makeApiUrl(options) {
        // Makes sure that each call generates a unique URL, otherwise
        // the browser may not actually perform the request.
        if (!('_juviaRequestCounter' in window)) {
            window._juviaRequestCounter = 0;
        }

        var result =
            'http://torblog-juvia-4525.herokuapp.com/api/show_topic.js' +
            '?_c=' + window._juviaRequestCounter +
            '&' + makeQueryString(options);
        window._juviaRequestCounter++;
        return result;
    }

    var s       = document.createElement('script');
    s.async     = true;
    s.type      = 'text/javascript';
    s.className = 'juvia';
    s.src       = makeApiUrl(options);

    (document.getElementsByTagName('head')[0] ||
      document.getElementsByTagName('body')[0] && commentsLoaded).appendChild(s);

})();
</script>
