---
layout: default
---

<!-- A wrapper for all the blog posts -->
<div class="posts">

  <div id="home">
      <section class="post">
        <header class="post-header">
          <h2 class="post-title"> <a href="{{ post.url }}">{{ page.title }}</a></h2>
          <p class="post-meta">
              By <a class="post-author" href="#">{{ page.author }}</a> under
              {% for tag in page.tags %}
                <a class="post-category post-category-js" href="#">{{ tag }}</a>
              {% endfor %} |
              {{ page.date | date_to_string }}
          </p>
        </header>
        <div class="post-description">
          {{ content }}
        </div>
      </section>
  </div>

</div>



<div class="comments clearfix">
  <div class="comments-loading">
  <p><em>Comments will not load without Javascript enabled</em></p>
  </div>
</div>

<script type="text/javascript" class="juvia">
(function() {
    var loadingSection = document.body.querySelector('.comments-loading');
    var icon = '<p>Comments Loading...</p><img alt="loading comments" src="/assets/images/black-001-loading.gif">';

    loadingSection.innerHTML = loadingSection.innerHTML + icon;

    var options = {
        container    : '.comments',
        site_key     : 'im3x57usjcg72fkm6lyqzwzt7vaoi4g',
        topic_key    : '/{{ page.permalink }}',
        topic_url    : location.href,
        topic_title  : document.title || location.href,
        include_base : !window.Juvia,
        include_css  : !window.Juvia,
        comment_order: 'latest-first'
    };

    function makeQueryString(options) {
        var key, params = [];
        for (key in options) {
            params.push(
                encodeURIComponent(key) +
                '=' +
                encodeURIComponent(options[key]));
        }
        return params.join('&');
    }

    function makeApiUrl(options) {
        // Makes sure that each call generates a unique URL, otherwise
        // the browser may not actually perform the request.
        if (!('_juviaRequestCounter' in window)) {
            window._juviaRequestCounter = 0;
        }

        var result =
            'http://torblog-juvia-4525.herokuapp.com/api/show_topic.js' +
            '?_c=' + window._juviaRequestCounter +
            '&' + makeQueryString(options);
        window._juviaRequestCounter++;
        return result;
    }

    var s       = document.createElement('script');
    s.async     = true;
    s.type      = 'text/javascript';
    s.className = 'juvia';
    s.src       = makeApiUrl(options);

    (document.getElementsByTagName('head')[0] ||
      document.getElementsByTagName('body')[0] && commentsLoaded).appendChild(s);

})();
</script>